%header
  %h1
    Heroku Toolbelt

  %h2
    Everything you need to get started using Heroku

.div
  %nav
    %ul#platform.tabNavigation
      %li.osx
        %a{ :href => "/osx" }
          %span.icon

          %span.title
            Mac OS X

      %li.windows
        %a{ :href => "/windows" }
          %span.icon

          %span.title
            Windows

      %li.debian
        %a{ :href => "/debian" }
          %span.icon

          %span.title
            Debian/Ubuntu

      %li.standalone
        %a{ :href => "/standalone" }
          %span.icon

          %span.title
            Standalone

  #instructions
    ~ markdown_plus platform
